<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="uploadForm">
        <input id="file" type="file" />
        <button id="upload" type="button">upload</button>
    </div>
</body>
<script type="text/javascript" src="../scripts/jquery.min.js"></script>
<script type="text/javascript">
$("#upload").click(function() {
    var formData = new FormData();
    formData.append('file', $('#file')[0].files[0]);
    $.ajax({
        url: '/avatar',
        type: 'POST',
        cache: false,
        data: formData,
        processData: false,
        contentType: false
    }).done(function(res) {}).fail(function(res) {});
})
</script>

</html>
